<div id='input' class="test"> 
	
{{#each rangeOfQuestions as |index|}}

	<p><strong> Question {{index}} </strong></p>
	{{#em-form model=none}}
	    {{em-input label="Title" property="title" cid="FID"}} 
  		{{em-text property="help" label="Help" placeholder="Optional help..." rows=2}}
	    {{em-checkbox property="required" label="Required?"}}
	{{/em-form}}

{{/each}}
     
<button {{action 'add'}}>insert question </button>

</div>


